p{font-family:times roman;font-size:20px;}
h1{font-color:blue;text-align:center;color:#364d73;}
html{box-sizing:border-box;}
h2{text-align:center;}
body{font-family:Arial,sans-serif;margin:0;padding:0;background-color:white;}
header{display:flex;justify-content:space-between;align-items:center;padding:10px;background-color:#333;border-radius:8px;color:white;}
nav{background-color:#364d73;overflow:hidden;border-radius:8px;}
nav a{float:left;display:block;color:white;text-align:center;padding:14px 60px;text-decoration:none;border-radius:8px;}
nav a:hover{background-color:#ddd;color:#333;}
.dropdown{overflow:hidden;color:#364d73;float:left;}
.dropdown .dropbtn{font-size:16px;color:white;border:none;outline:none;padding:14px 60px;background-color:#364d73;font-family:inherit;border-radius:8px;margin:0;cursor:pointer;}
.nav a,.dropdown:hover .dropbtn{background-color:#ddd;color:#333;}
.dropdown-content{display:none;position:absolute;background-color:white;min-width:160px;box-shadow:0px 14px 60px 0px rgba(0,0,0,0.2);z-index:1;border-radius:8px;}
.dropdown-content a{float:none;color:black;padding:12px 16px;text-decoration:none;display:block;text-align:left;}
.dropdown-content a:hover{background-color:#364d73;color:white;}
.dropdown:hover .dropdown-content{display:block;}
.all-browsers{margin:0;padding:5px;background-color:lightgray;}
.all-browsers > h1, .browser{margin:10px;padding:5px;}
.browser{background:white;}
.browser > h2, p{margin:4px;font-size:90%;}
footer{background-color:#2E3D4E;color:#FFFFFF;padding:10px;text-align:center;border-radius:8px;}
.creators{display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap;}
.creator{text-align:center;margin:10px;}
.column{float:left;width:25%;padding:0 10px;box-sizing:border-box;}
.row{margin:-10px;overflow:hidden;}
@media screen and (max-width: 600px){.column{width:100%;display:block;margin-bottom:20px;}}
.card{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);padding:50px;text-align:center;background-color:#ffffcc;border-radius:8px;}